html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  max-width: 768px;
  margin: 0 auto;
}

body {
  background: black;
  color: whitesmoke;
}


a {
  color: inherit;
}

.header{
  position: sticky;
  top: 0;
  z-index: 100;
}

.navigation {
  background: blue;
  padding: 16px;
  margin: 8px;
  border-radius: 8px;
}

.navigation__link {
  color: blanchedalmond;
}

.page-header__heading {
  color: purple;
  padding: 16px;
}


section {
  position: relative;
  padding: 16px;
  margin: 10px;
  border: 4px solid white;
  border-radius: 16px;
  background: green;
  margin-bottom: 16px;
}

.section p{

  color: white;
  border-radius: 8px;
}

.section__header {
  color: aqua;
  z-index: 1;
}


.section__header--special {
  color: tomato;
  margin-left: 64px;
}


.section__image {
  position: absolute;
  z-index: 0;
  top: 0px;
  right: 0;
  border-radius: 16px;
  width: 100px;
}

.my-article__header {
  color: rgb(255, 159, 207);
}

.my-article p {
color: rgb(211, 211, 211);
}


.footer {
  padding: 16px;
  max-width: 768px;
  margin: 0 auto;
}

.footer__content{
  color: rgb(158, 158, 158);
}

.footer__top-link{
  position: fixed;
  bottom: 16px;
  right: 16px;
  color: white;
  background: gray;
  padding: 4px 6px;
  display: block;
  border-radius: 8px ;
}
