body {
  background: black;
  color: whitesmoke;
}

h1 {
  color: purple;
}

.title {
  color: hotpink;
}

h3 {
  color: rgb(255, 159, 207);
}

#pasje {
  background: gray;
}

.my-article p {
  color: greenyellow;
}

.about {
  color: blue;
}

a {
  color: inherit;
}
