html{
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body {
  background: black;
  color: whitesmoke;
}

section {
  padding: 16px;
}

h1 {
  color: purple;
  padding: 16px;
}

footer{
  padding: 16px;
}

.title {
  color: hotpink;
}

h3 {
  color: rgb(255, 159, 207);
}

.my-article p {
  color: greenyellow;
}

.about {
  color: blue;
}

a {
  color: inherit;
}

.navigation {
background: blue;
padding: 16px;
margin: 8px;
border-radius: 8px;
}

.navigation__link {
color: blanchedalmond;
}

.section{
  background: green;
  margin-bottom: 16px;
}

.section__header{
  color: aqua;
}

.section__header--special {
  color: tomato;
  margin-left: 64px;
}